.home-software {
    // background-color: chartreuse;
    width: 100%;
    margin-top: 20px;

    .nav-2 {
        margin-top: 30px;
        height: 50px;
        width: 100%;
        // background-color: aqua;
        display: flex;

        .title-phan-mem-moi {
            font-size: 24px;
            font-weight: bold;
            color: orange;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
        }

    }

    .nav-2::before {
        content: "";
        flex: 10;
        border-bottom: 4px solid rgb(54, 52, 52);
    }

    .nav-2::after {
        content: "";
        border-bottom: 4px solid rgb(54, 52, 52);
        flex: 100;

    }

    .games {
        display: flex;
        margin-top: 30px;

        @media screen and (max-width: 500px) {
            // width: 100vw !important;
            // height: 200px;
            display: block;
        }

        .game {
            background-color: #252323;

            @media screen and (max-width: 500px) {
                width: 90% !important;
                height: 300px;
            }


            width: 23%;
            // min-width: 23%;

            height: 250px;
            margin: 30px 0 0px 20px;
            border-radius: 7px;


            .img {
                width: 100%;
                height: 56%;
                background: url("https://cdn2.unrealengine.com/social-image-battlepass-3840x2160-d337a789158e.jpg");
                background-position: center;
                background-size: contain;

                // border-radius: 15px;


            }

            .name {
                width: 100%;
                height: 17%;
                padding-top: 10px;
                font-size: 18px;
                color: orange;

                overflow: hidden; 
                text-overflow: ellipsis; 
                white-space: nowrap;   
            }

            .tag {
                width: 100%;
                height: 17%;
                // background-color: aquamarine;
                display: flex;
                align-items: center;
                color: red;

                i {
                    color: #929292;
                }

                p {
                    font-size: 13px;
                    margin-left: 5px;
                }

                .white {
                    color: white !important;
                }


            }

            .see {
                width: 100%;
                height: 17%;
                // background-color: darkgreen;
                display: flex;
                align-items: center;

                .download {
                    text-decoration: none;
                    height: 80% !important;
                    width: 120px !important;
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                    font-size: 14px !important;
                    color: white !important;
                    background-color: rgb(0, 15, 56) !important;

                    border-radius: 5px;

                    &:hover {
                        cursor: pointer;
                        color: rgb(0, 30, 199);
                        background-color: red !important;
                    }

                    span {
                        padding-left: 10px;
                    }
                }
            }
        }
    }


}